@tailwind base;
@tailwind components;
@tailwind utilities;

.horizontal-lines,
.vertical-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.horizontal-lines {
  background-image: linear-gradient(
    to right,
    lightgray 1px,
    lightgray 2px,
    transparent 12px
  );
}

.vertical-lines {
  background-image: linear-gradient(
    to bottom,
    lightgray 1px,
    lightgray 2px,
    transparent 12px
  );
}
